* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media screen and (max-width: 1500px) {
body {
  background: white;
}} */

.logo {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 2%;
  top: 2%;
}

.title {
  height: 200px;
  width: 250px;
  margin-left: 130px;
  align-content: center;
}

.smi {
  height: 10px;
  width: 10px;
  margin-bottom: 20px;
  margin: 10px;
  float: right;
  }

  a {
    color: black;
  }

.tabs {
    overflow: hidden;
  }

.tabs a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }

.tabs a:hover {
    color: #FFE8D9;
  }

.tabs a.active {
    background-color: #4CAF50;
    color: white;
  }

.home1 {
  height: 400px;
  width: 1440px;
  object-fit: cover;
}

.up1 {
  height:270px;
  width: 200px;
  /* margin-left: 40px; */
  position: absolute;
  left: 4%;
}

.up2 {
  height: 200px;
  width: 160px;
  /* margin-left: -80px;
  margin-bottom: -95px; */
  position: absolute;
  left: 13%;
  bottom: 11%;
}

.up3 {
  height:260px;
  width: 190px;
  /* margin-bottom: -300px;
  margin-left: -60px; */
  position: absolute;
  bottom: -11%;
  left: 22%;
}

.up4 {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 25%;
  top: 55%;
  margin-left: -100px;
}

.up5 {
  height: 70px;
  width: 70px;
  float: left;
  position: absolute;
  left: 15%;
  bottom: 1%;
}

section {
  float: left;
}

h2{
  font-family: 'Roboto', sans-serif;
}

.lbio {
  float: right;
  font-weight: lighter;
  /* text-align: right;
  text-align: center;
  margin-right: 50px;
  margin-left: 300px;
   */
   position:absolute;
   bottom: 32%;
   left: 35%;
   right: 3%;
}

.up6 {
  height: 150px;
  width: 145px;
  position: absolute;
  left: 65%;
  bottom: 7%;
}

.up7 {
  height: 300px;
  /* float: left; */
  position: absolute;
  right: 4%;
  bottom: -60%;
}

.up8 {
  height: 250px;
  position: absolute;
  right: 19%;
  bottom: -70%;
}

.up9 {
  height: 230px;
  position: absolute;
  bottom: -80%;
  right: 9%;
}

.up10 {
  height: 190px;
  position: absolute;
  right: 22%;
  bottom: -45%;
}

.abio {
  float: left;
  font-weight: lighter;
  text-align: left;
  text-align: center;
  margin-top: 755px;
  margin-right: 590px;
  margin-left: 50px;
}

.up11 {
  height: 120px;
  position: absolute;
  bottom: -71%;
  left: 26%;
}

.up12 {
  height: 260px;
  position: absolute;
  bottom: -120%;
  left: 4%;
}

.up13 {
  height: 260px;
  position: absolute;
  left: 15%;
  bottom: -140%;
}

.up14 {
  height: 150px;
  position: absolute;
  left: 20%;
  bottom: -108%;
}

.ebio {
  float: right;
  font-weight: lighter;
  position: absolute;
  left: 35%;
  right: 4%;
  bottom: -120%;
}

.up15 {
  height: 150px;
  position: absolute;
  left: 7%;
  bottom: -135%;
}

.up16 {
  height: 160px;
  position: absolute;
  left: 60%;
  bottom: -141%;
  margin-bottom: 45px;
}
