* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media screen and (max-width: 1500px) {
body {
  background: white;
}} */

.logo {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 2%;
  top: 2%;
}

.title {
  height: 200px;
  width: 360px;
  margin-left: 155px;
  align-content: center;
}

.smi {
  height: 10px;
  width: 10px;
  margin-bottom: 20px;
  margin: 10px;
  float: right;
  }

  a {
    color: black;
  }

.tabs {
    overflow: hidden;
  }

.tabs a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }

.tabs a:hover {
    color: #FFE8D9;
  }

.tabs a.active {
    background-color: #4CAF50;
    color: white;
  }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #A9E3FF;
}

.fp1 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 3%;
  bottom: -3%;
}

.fp2 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 37%;
  bottom: -3%;
}

.fp3 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 70%;
  bottom: -3%;
}

.fat1 {
  position: absolute;
  left: 3%;
  right: 67%;
  top: 106%;
}

.fat2 {
  position: absolute;
  left: 37%;
  right: 40%;
  top: 106%;
}

.fat3 {
  position: absolute;
  left: 71%;
  right: 0%;
  top: 106%;
}

.fp4 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 3%;
  bottom: -83%;
}

.fat4 {
  position: absolute;
  left: 3%;
  right: 67%;
  bottom: -95%;
}

.fp5 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 37%;
  bottom: -83%;
}

.fat5 {
  position: absolute;
  left: 37%;
  right: 40%;
  bottom: -95%;
}

.fp6 {
  height: 500px;
  width: 400px;
  position: absolute;
  left: 70%;
  bottom: -83%;
}

.fat6 {
  position: absolute;
  left: 71%;
  right: 0%;
  bottom: -99%;
}
